# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://xaejzihqngxuexkeymya.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# Database URLs
DATABASE_URL="postgresql://postgres.xaejzihqngxuexkeymya:9D4ryuy@KgK!27@aws-1-eu-central-1.pooler.supabase.com:6543/postgres"
DIRECT_DATABASE_URL="postgresql://postgres.xaejzihqngxuexkeymya:9D4ryuy@KgK!27@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"

# Supabase Storage
SUPABASE_BUCKET_ENDPOINT=https://xaejzihqngxuexkeymya.supabase.co/storage/v1/object/public/hospital

# Next.js
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

# API
API_BASE_URL=http://localhost:3000/api
